
  <div id="input">
      <h2>All Github repositories available at a click of a button</h2>
  <form #userForm='ngForm'class="form-group">
    
      <input type="text"  name="username" class="form-control" [(ngModel)]=username>
      <br>
      <button type="submit" (click)="Username(username)" appColor>Search GitHub User</button>
      
  </form>
</div>
   <div class="row" class="repos">
     <div class="col-md-12">
       <div id="image">
        <img class="img-responsive" id="image" src="{{user.avatar_url}}">
      <h3 class="username"> {{user.login}}</h3>
      <h2 id="title">  <a href="{{user.html_url}}">GitHub Repositories</a> </h2>
    </div>
  </div>
    
       <div id="repositories">
      
       
      
  <div class="card" style="width: 20rem" *ngFor='let repo of repos'>
    <div class="col-md-6" >
    <div class="card-body">
      <h5 class="card-title"><a href="{{user.html_url}}">{{repo.name}} </a></h5>
      <p class="card-text">{{repo.description}}</p>
      <a href="{{repo.homepage}}" class="btn btn-dark mb-3">View Site</a>
    </div>
  </div>
  </div>
  </div>
  
  
  <!--(keyup)="Username(username)"-->
 



